// Variables
$lightBlue: rgb(0, 157, 255);
$darkBlue: rgb(0, 15, 24);

// Functions
@mixin flexCenter($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}

@mixin shadows {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
}

@mixin fontWeight {
  font-weight: 400;
}

@mixin links {
  text-decoration: none;
  color: #fff;
  padding: 10px 22px;
  font-size: 18px;
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 2;
}
@mixin buttons {
  background: rgb(0, 15, 24);
  border-radius: 5px;
  border: 2px solid $lightBlue;

  &:hover {
    background: $lightBlue;
  }
}
@mixin linkSlide {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    background: $lightBlue;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: left;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
@mixin buttonSlide {
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 1;
  background: $darkBlue;
  border: 2px solid $lightBlue;
  border-radius: 6px;
  &:hover {
    color: #fff;
    background: transparent;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: $lightBlue;
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform-origin: bottom;
    transform: scaleY(0);
    border-radius: 4px;
  }
  &:hover::after {
    transform: scaleY(1);
    // transform-origin: right;
  }
}

@mixin input {
  width: 500px;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 3px solid $lightBlue;
  font-size: 20px;
  background: transparent;
  color: #fff;
  @media screen and (max-width: 650px) {
    width: 400px;
  }
  @media screen and (max-width: 480px) {
    width: 300px;
    font-size: 17px;
  }
  @media screen and (max-width: 360px) {
    width: 220px;
    font-size: 16px;
  }
  @media screen and (max-width: 270px) {
    width: 170px;
  }
}
@mixin submitButton {
  width: 500px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 20px;
  background: $darkBlue;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 2px solid $lightBlue;
  @include shadows();
  &:hover {
    background: $lightBlue;
    box-shadow: 6px 6px 24px rgba(0, 157, 255, 0.4);
  }
  @media screen and (max-width: 650px) {
    width: 400px;
  }
  @media screen and (max-width: 480px) {
    width: 300px;
    font-size: 17px;
  }
  @media screen and (max-width: 360px) {
    width: 220px;
    font-size: 16px;
  }
  @media screen and (max-width: 270px) {
    width: 170px;
  }
}

@import "./components/contact";
