<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#333" />
    <title>Overcome your fear of rejection</title>
    <link rel="icon" href="../img/Katdev2codes2.png" />
    <link rel="stylesheet" href="../css/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/posts/style.css" />
    <link rel="stylesheet" href="../css/basics/style.css" />
  </head>
  <body>
    <div class="loader">
      <div class="circle"></div>
    </div>
    <div class="cursor"></div>

    <nav>
      <div class="navContainer">
        <div class="logo">
          <a href="/"
            ><img src="../img/Katdev2codes2.png" alt="Kat Dev Logo"
          /></a>
        </div>
        <div class="navLinks">
          <div class="mainLinks">
            <ul>
              <li>
                <a href="../Resume/Katlego Developer Resume.pdf" target="_blank"
                  >Resume</a
                >
              </li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="blogLinks">
            <ul>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mobile Nav-bar -->

      <div class="navHam">
        <div class="logoContainer">
          <a href="/"
            ><img src="../img/Katdev2codes2.png" alt="Kat Dev Logo"
          /></a>
        </div>

        <div class="ham-burger">
          <button class="hamBTN-open">
            <span></span><span></span><span></span>
          </button>
          <button class="hamBTN-close">
            <span></span><span></span><span></span>
          </button>
        </div>
      </div>

      <div class="nav-ham-links">
        <ul>
          <li>
            <a href="../Resume/Katlego Developer Resume.pdf" target="_blank"
              >Resume</a
            >
          </li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>

    <div class="search">
      <div class="search-form">
        <form action="/search-results">
          <input type="text" name="s" id="search" placeholder="Search..." />
          <button><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Blog -->
    <section>
      <div class="blog">
        <div class="blog-container">
          <h1>Overcoming the fear of rejection</h1>
          <br />
          <h2>
            Is your fear of getting rejected interfering with your life?. Well
            you are not alone, there are many people who just won't get
            themselves in any situation where they'll experience rejection. The
            bad news is, life will throw rocks at you, so you need to get over
            your fear of rejection ASAP, so that you can leave your life the way
            you want, and not give a damn whenever you get rejected at
            something.
            <br /><br />
            Below are some of the steps you can take to overcome your fear of
            rejection.
          </h2>
          <br /><br />

          <h3>1. ADMIT IT</h3>
          <br />
          <p>
            Admitting that you are struggling with something is the first step
            to destroy it head-on. By admitting that you are afraid to get
            rejected let’s your mind know that this is something interfering
            with your life and it needs to be dealt with immediately.
          </p>
          <br />
          <div class="memes">
            <img src="../img/admit-it.jpg" alt="Admit it meme" /><br />
            <p style="text-align: right">
              <em><Source:media>Source: Makeameme.org</Source:media></em>
            </p>
          </div>

          <br /><br />
          <h3>2. GET REJECTED</h3>
          <br />
          <p>
            After admitting that you are afraid of getting rejected, the next
            step is to get rejected as many times as you can. Just like other
            phobias like the fear of spiders, you need to face your fears so
            that eventually your mind is not afraid of that fear again. When you
            consistently put yourself in any uncomfortable situation, your mind
            starts to relax every time you do that thing and your mind won’t
            activate itself to the SAFE mode anymore or activate to FIGHT and
            FLIGHT mode.
          </p>
          <br />
          <div class="memes">
            <img src="../img/getting-rejected.jpg" alt="Rejection meme" /><br />
            <p style="text-align: right">
              <em><Source:media>Source: Makeameme.org</Source:media></em>
            </p>
          </div>
          <br /><br />

          <h3>3. FOLLOW RULES</h3>
          <br />
          <p>
            When getting yourself out there to get rejected, you need to
            consider the following rules in order to actually benefit from this.
          </p>
          <br />
          <div class="memes">
            <img src="../img/fllow rules.jpeg" alt="Follow rules meme" /><br />
            <p style="text-align: right">
              <em><Source:media>Source: Makeameme.org</Source:media></em>
            </p>
          </div>
          <br />
          <h2 class="rules">Rule 1</h2>
          <p>
            Start small, don’t just go to your boss and ask for a raise, start
            by getting rejected on small things that won’t hurt your feelings
            too much.
          </p>
          <br />
          <h2 class="rules">Rule 2</h2>
          <p>
            Put yourself in situations where you know or you are likely to get
            rejected. Example, ask the cashier at the store to give you a
            discount on the things you bought. If you your proposal gets
            approved or you don’t get rejected, that doesn’t count.
          </p>
          <br />
          <h2 class="rules">Rule 3</h2>
          <p>
            Reward yourself every time you get rejected to keep you motivated to
            go on. For example, play video games when you get home or go to the
            sport practice if you are play any sport.
          </p>
          <br />

          <h2 class="conclude">
            And that’s it, after a month you will be free from the fear of
            getting rejected and you will live your life the way you want
            without feeling sad anytime you get rejected on something.
          </h2>
          <br /><br />

          <br />
          <div class="blog-links">
            <h2>Other Blog posts:</h2>
            <a href="/blog/Learn-CSS-GRID-Layout"> CSS Grid layout </a>
            <a href="/blog/Where-to-learn-web-development?">
              Where to learn web development for free?
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/blog">Blog</a><br />

      <p style="font-style: italic">
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Copyrights Reserved | Build by Katlego Mangoale
      </p>
    </footer>

    <script src="../js/basic.js"></script>
    <script>
      window.addEventListener("load", (e) => {
        document.getElementsByClassName("loader")[0].style = "display:none";
      });
    </script>
  </body>
</html>
