<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#333" />
    <title>web-development-resources</title>
    <link rel="icon" href="../img/Katdev2codes2.png" />
    <link rel="stylesheet" href="../css/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/posts/style.css" />
    <link rel="stylesheet" href="../css/basics/style.css" />
  </head>
  <body>
    <div class="loader">
      <div class="circle"></div>
    </div>
    <div class="cursor"></div>

    <nav>
      <div class="navContainer">
        <div class="logo">
          <a href="/"
            ><img src="../img/Katdev2codes2.png" alt="Kat Dev Logo"
          /></a>
        </div>
        <div class="navLinks">
          <div class="mainLinks">
            <ul>
              <li>
                <a href="../Resume/Katlego Developer Resume.pdf" target="_blank"
                  >Resume</a
                >
              </li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="blogLinks">
            <ul>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mobile Nav-bar -->

      <div class="navHam">
        <div class="logoContainer">
          <a href="/"
            ><img src="../img/Katdev2codes2.png" alt="Kat Dev Logo"
          /></a>
        </div>

        <div class="ham-burger">
          <button class="hamBTN-open">
            <span></span><span></span><span></span>
          </button>
          <button class="hamBTN-close">
            <span></span><span></span><span></span>
          </button>
        </div>
      </div>

      <div class="nav-ham-links">
        <ul>
          <li>
            <a href="../Resume/Katlego Developer Resume.pdf" target="_blank"
              >Resume</a
            >
          </li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>

    <div class="search">
      <div class="search-form">
        <form action="/search-results">
          <input type="text" name="s" id="search" placeholder="Search..." />
          <button><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <!-- Blog -->
    <section>
      <div class="blog">
        <div class="blog-container">
          <h1>Where to learn web development for free?</h1>
          <br />
          <h2>
            There are several places where you can learn web development for
            free, but here are my some of my favourite places where I like to go
            to learn web development:
          </h2>
          <br /><br /><br />

          <a target="_blank" href="https://www.youtube.com/user/javaboynavin">
            1. Telusko (YOUTUBE CHANNEL)
          </a>

          <br />
          <p>
            This is where I started to learn web development from and the
            instructor is very good in explaining the concepts and showing
            relevant examples of how you can apply what you have learned and I
            promise, in two to three days you’ll be able to build a lot of
            things using Javascript after watching the tutorials in from this
            Youtube channel.
          </p>
          <br /><br />

          <a
            target="_blank"
            href="https://www.youtube.com/user/learncodeacademy"
          >
            2. Learncode.academy (YOUTUBE CHANNEL)
          </a>

          <br />
          <p>
            This is where I started to learn web development from and the
            instructor is very good in explaining the concepts and showing
            relevant examples of how you can apply what you have learned and I
            promise, in two to three days you’ll be able to build a lot of
            things using Javascript after watching the tutorials in from this
            Youtube channel.
          </p>
          <br /><br />

          <a
            target="_blank"
            href="https://www.youtube.com/user/programmingwithmosh"
          >
            3. Programming with Mosh (YOUTUBE CHANNEL)
          </a>

          <br />
          <p>
            This is where I started learning back-end development using Node.js
            and express.js. The instructor is also very good and explains
            everything in detail to make sure the viewer is not left wondering
            in the dark. So if you are just starting or want to increase your
            knowledge about back-end development using node.js or Django or
            using any programming language, definitely invest your time in
            visiting his channel to learn cool things.
          </p>
          <br /><br />

          <a
            target="_blank"
            href="https://www.youtube.com/channel/UClb90NQQcskPUGDIXsQEz5Q"
          >
            4. Dev Ed (YOUTUBE CHANNEL)
          </a>

          <br />
          <p>
            If you like creating cool projects or you just want to learn more
            frameworks or libraries, definitely check Dev Ed’s youtube channel
            and you’ll get many more ideas popping in your head. He’s a very
            good instructor and takes his time to explain everything so that you
            can understand and start building those amazing things on the web.
          </p>
          <br /><br />

          <a target="_blank" href="https://www.freecodecamp.org/">
            5. Freecodecamp.org (Website)
          </a>

          <br />
          <p>
            This is where I go everytime to learn some of the things I do not
            understand along the way, and you can join a web development course
            for free to learn the basics of web development from HTML to
            Javascript and practice some of the things you learned on their own
            website without opening any text-editor on your computer to see
            results of you code.
          </p>
          <br /><br />

          <h2 class="conclude">
            There are other useful places to learn web development, but I
            compiled some of my personal best places that helped me to learn web
            development for free, and it was worth the time that I put into
            learning from this awesome places.
          </h2>
          <br /><br />

          <br />
          <div class="blog-links">
            <h2>Other Blog posts:</h2>
            <a href="/blog/Learn-CSS-GRID-Layout"> CSS Grid layout </a>
            <a href="/blog/Overcome-fear-of-Rejection">
              Overcome fear of rejection
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/blog">Blog</a><br />

      <p style="font-style: italic">
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Copyrights Reserved | Build by Katlego Mangoale
      </p>
    </footer>

    <script src="../js/basic.js"></script>
    <script>
      window.addEventListener("load", (e) => {
        document.getElementsByClassName("loader")[0].style = "display:none";
      });
    </script>
  </body>
</html>
